In [2]:
a="Sana Jafar Sheikh"
print(a)

Sana Jafar Sheikh

## List and its default functions

In [3]:
lst = ["1","16","apple","mango","4","8"]
print(lst)

['1', '16', 'apple', 'mango', '4', '8']

In [5]:
lst.append('vegetables')
print('Updated list: ', lst)

Updated list:  ['1', '16', 'apple', 'mango', '4', '8', 'vegetables', 'vegetables']

In [6]:
language = ['French', 'English']

language1 = ['Hindi', 'Marathi']

language.extend(language1)

print('Language List:', language)

Language List: ['French', 'English', 'Hindi', 'Marathi']

In [7]:
systems = ['Windows', 'macOS', 'Linux', 'android']
print('Original List:', systems)

systems.reverse()

print('Updated List:', systems)

Original List: ['Windows', 'macOS', 'Linux', 'android']
Updated List: ['android', 'Linux', 'macOS', 'Windows']

In [8]:
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

animals.remove('rabbit')

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

In [9]:
languages = ['Python', 'Java', 'C++', 'French', 'C']
return_value = languages.pop(3)
print('Return Value:', return_value)
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

# Dictionary and its default functions

In [10]:
person = {'name': 'Anna', 'age': '20' , 'profession':'student'}
person

{'name': 'Anna', 'age': '20', 'profession': 'student'}

In [13]:
person.get('name')

'Anna'

In [14]:
person.items()

dict_items([('name', 'Anna'), ('age', '20'), ('profession', 'student')])

In [15]:
person.update({'salary': 3500.0})
print('\nAfter dictionary is updated')
person

After dictionary is updated

{'name': 'Anna', 'age': '20', 'profession': 'student', 'salary': 3500.0}

In [17]:
person.pop('salary')

3500.0

In [18]:
person

{'name': 'Anna', 'age': '20', 'profession': 'student'}

In [20]:
type(person)

dict

# Sets and its default funstions

In [21]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange") 

print(fruits)

{'apple', 'cherry', 'banana', 'orange'}

In [22]:
fruits.clear()

print(fruits)

set()

In [24]:
fruits = {"apple", "banana", "cherry"}

fruits.pop() 

print(fruits)

{'cherry', 'banana'}

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

# Tuples and default methods

In [31]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [28]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [32]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [33]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Strings and its default functions

In [34]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [35]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [37]:
a = "Hello, everyone!"
print(a[1])

e